.gpt3__feature-container_feature{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    
    margin: 1rem;
}
.gpt3__feature-container_feature-title{
    flex: 1;
    margin-right: 2rem;
    max-width: 180px;

}

.gpt3__feature-container_feature h1{
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    color: #fff;
    letter-spacing: -0.04rem;
}
.gpt3__feature-container_feature-title div{
    height: 3px;
    width: 38px;
    margin-bottom: 0.25rem;
    background: var(--gradient-bar);
    box-shadow: 0 4 4 rgba(0, 0, 0, 0.25);
}
.gpt3__feature-container_feature-text{
    display: flex;
    flex: 2;
    max-width: 390px;
}
.gpt3__feature-container_feature-text p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-text);
 
}
@media screen and (max-width: 550px) {
    .gpt3__feature-container_feature-title{
        font-size: 14px;
        line-height: 22px  ;
    }
    .gpt3__feature-container_feature-text{
        font-size: 12px;
        line-height: 20px ;
        max-width: 390px;
    }
    .gpt3__feature-container_feature{
        margin: 1rem 0;
       
    }
}
